<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>TAPP</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css} "/>
	<style>
		.main{
		width:600px;
		height:400px;
		display:inline-table;
        border:green solid 4px;
		}

	</style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container  text-center">
	<div class="row text-center p-2">
		<span th:text="${msg}"></span>
	</div>
	<div class="main">
	<h1 class="text-center mb-1 p-2" th:text="${title}"></h1>
<div class="row text-center mb-1 mt-1">
</div>
<form action="save" id="formuser" method="post" th:object="${userobj}" class="border p-1">
	<div class="input-group mt-1">
  <span class="input-group-text col-2">Id</span>
  <input type="text" class="form-control" aria-label="ID" id="user_id" th:field="*{user_id}" name="user_id"  readonly="true">
</div>
<div class="input-group mt-4">
  <span class="input-group-text col-2">First</span>
  <input type="text" aria-label="First name" id="firs_name" name="firs_name" th:field="*{firs_name}" class="form-control" required>

</div>
	<div class="input-group mt-4">
		<span class="input-group-text col-2">Last name</span>

		<input type="text" aria-label="Last name" id="last_name" name="last_name" th:field="*{last_name}" class="form-control" required>
	</div>
	<div class="input-group mt-4">
		<span class="input-group-text col-2">Email</span>
		<input type="text" aria-label="First name" id="email" name="firs_name" th:field="*{email}" class="form-control" required>
	</div>
	<div class="input-group mt-4">
		<span class="input-group-text col-2">Password</span>
		<input type="password" aria-label="Last name" id="password" name="last_name" th:field="*{password}" class="form-control">
	</div>
	<div class="input-group mt-4">
<div class="form-check">
	<label class="form-check-label mr-5" for="enabled">
		Enabled
	</label>
  <input class="form-check-input" type="checkbox" value="" id="enabled" th:field="*{enabled}" name="enabled">

</div>
	</div>
<button type="submit" class="btn btn-success mt-2">Save</button>

<a class="btn btn-secondary mt-2" type="button"
		href="http://localhost:8080/users/">
								Cancel</a>
</form>
	</div>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>