<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>TAPP</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css} "/>
	<style>
		.main{
		width:600px;
		height:400px;
		display:inline-table;
        border:green solid 4px;
		}

	</style>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="container  text-center">
	<div class="row text-center p-2">
		<span th:text="${msg}"></span>
	</div>
	<div class="main">
	<h1 class="text-center mb-1 p-2" th:text="${title}"></h1>
<div class="row text-center mb-1 mt-1">
</div>
<form action="saveCategory" id="formCategory" method="post" th:object="${category}" class="border p-1">
	<div class="input-group mt-1">
  <span class="input-group-text col-2">Id</span>
  <input type="text" class="form-control" aria-label="ID" id="categoryId" th:field="*{categoryId}" name="categoryId"  readonly="true">
</div>
<div class="input-group mt-4">
  <span class="input-group-text col-2">Name</span>
  <input type="text" aria-label="First name" id="categoryName" name="categoryName" th:field="*{categoryName}" class="form-control" required>

</div>
	<div class="input-group mt-4">
		<span class="input-group-text col-2">Description</span>

		<textarea aria-label="Description" id="categoryDescription" name="categoryDescription" th:field="*{categoryDescription}" class="form-control" required/>
	</div>
	<div class="input-group mt-4">
<div class="form-check">
	<label class="form-check-label mr-5" for="categoryEnabled">
		Enabled
	</label>
  <input class="form-check-input" type="checkbox" value="" id="categoryEnabled" th:field="*{categoryEnabled}" name="categoryEnabled">

</div>
	</div>
<button type="submit" class="btn btn-success mt-2">Save</button>

<a class="btn btn-secondary mt-2" type="button"
		href="http://localhost:8080/categories/">
								Cancel</a>
</form>
	</div>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>